* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1 {
    background: url(img/sini1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: auto;
    padding: 40px;
} 
.header {
    margin-top: 2px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    z-index: 100;
    background: transparent;
}
.logo {
    font-size: 35px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-left: 20px;
}
.navbar a{
    font-size: 18px;
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.navbar a:hover{
    color: rgb(0, 225, 255);
}
.btn{
    outline: none;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background: transparent;
    color: white;
    padding: 5px;
}
.hero {
    padding-left: 30px;
    padding-top: 40vh;
    color: white;
    font-size: x-large;
}
.hero2 {
    padding-top: 30px;
    padding-left: 30px;
    color: white;
    font-size: 30px;
}
.hero2 button{
    text-decoration: none;
    background: rgb(58, 68, 93);
    outline: none;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 2px;
}
.hero2 button a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.hero2 button :hover {
    color: rgb(90, 112, 111);
}
.section2 {
    padding-top: 40px;
    background: rgb(146, 135, 121);
}
.section2 h1 {
    text-align: center;
    color: white;
}
.row1 {
    display: flex;
}
.column {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    flex: 50%;
    padding: 10px;
    height: 200;
    background: rgb(212, 210, 165);
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}